body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.button {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    position: relative;
    background-color: #ccc;
    cursor: pointer;
    display: block;
}
.handle {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-color: #fff;
    border-radius: 50%;
}
body:has(#toggle:checked) {
    background-color: #000000;
}
#toggle:checked + .button {
    background-color: #000086;
}
#toggle:checked + .button .handle {
    transform: translateX(30px);
    background-color: #ffd900;
}