body {
  margin: 0;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup {
  width: 360px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  display: flex;
  box-shadow: 0 15px 75px;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
input {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ddd;
}
input:focus {
  padding: 15px;
  outline: none;
  border-color: #69c0ff;
}
button {
  padding: 15px;
  border: none;
  background-color: #69c0ff;
  color: #fff;
  border-radius: 15px;
}
button:hover {
  background-color: #3eafff;
}
button:active {
  transform: scale(0.98);
}