body {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
h2 {
    text-align: center;
}
.container {
    align-items: center;
}
.box {
    padding: 20px;
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px;
}
.box li {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.tag {
    color: #fff;
    padding: 4px 15px;
    border-radius: 15px;
    font-size: 15px;
}
.red {
    background: rgb(255, 52, 52);
}
.blue {
    background: rgb(52, 52, 255);
}
.text {
    padding-left: 20px;
    flex: 1;
}
.date {
    color: #888;
    font-size: 12px;
}